<ion-view view-title='Bienvenue sur Lapin.org'>
  <ion-content class="padding">
    <div class='banner'>
      <div class='logo'></div>
    </div>
    <hr class='decoHr'>
    <div ng-show="loading">
      <img src="../img/loading-bar.gif" alt="Loading…" />
    </div>
    <div ng-hide="loading" class='wrapper'>
      <div ng-repeat="domain in dataDomain" class="favicon">
          <img ui-sref="strips({domain: domain.short_name})" src='data:image/jpeg;base64,{{domain.favicon}}'>
          <div class="center">{{domain.short_name}}</div>
      </div>
    </div>
  </ion-content>
</ion-view>
