<ion-view view-title='Bienvenue sur Lapin.org'>
  <ion-content class="padding">
    <div class='banner'>
      <div class='logo'></div>
    </div>
    <hr class='decoHr'>
  <div class='wrapper'>
      <div ng-repeat="domain in dataDomain">
            <img class='favicon' ui-sref="strips({domain: domain.short_name})" src='data:image/jpeg;base64,{{domain.favicon}}'/>
          <!-- <div id='homeAuthor'>
            <ul>
              <li>{{datas.large_name}}</li>
              <li>{{datas.author}}</li>
            </ul>
          </div> -->
      </div>
      </div>
    </div>
  </ion-content>
</ion-view>
