.banner {
  width: 100%;
  height:100px;
  background-image: url('../img/banner.png');
  background-size: 95% 72px;
  background-repeat: no-repeat;
  background-position: center;
}

.logo {
  width: 100px;
  height: 150px;
  background-image: url('../img/logo.png');
  background-size: 95% 72px;
  margin-left: 50%;
  transform: translateX(-50%);
}

hr {
  border-style: dashed;
  border-width: 1px;
  color:#BF6A27;
}

.banner p {
  font-family: 'pacifico';
  text-align: center;
  font-size: 2em;
  line-height: 1.5em;
  padding-top: 30px;
}

.desc {
  font-size: 1em;
  line-height: 1em;
  text-align: justify;
}

.wrapper {
  width: 98vw;
  margin: 0 auto;
}

.favicon {
  float: left;
  margin: 1vw;
}

#home-author {
  float: left;
}

.banniere {
  width:100%;
  height: 150px;
}

.loading-indicator {
  background-image: url('../img/loading-bar.gif');
  background-size: 100%;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
}

div[class='loading-indicator center'] {
  margin: 0 auto;
}

.wrapper-strip {
  width: 90%;
  margin: 0 auto;
}

.strip-zone {
  width: 33.33%;
  padding: 7px;
  height: 175px;
  float: left;
  border: solid 1px #CAC5B8;
}

.stories-zone {
  clear: both;
  border: solid 1px #CAC5B8;
  border-radius: 12px;
  padding: 1em;
  margin: 1vh 1vw;
}

.strip-zone p {
  text-align: center;
}

.strip {
  width: 100%;
  height: 100%;
}

.strips-title {
  font-family: auto;
  text-align: right;
  font-size: 0.8em;
}

.wrapper-author {
  width: 100%;
  margin: 0 auto;
  border: solid 1px #CAC5B8;
  border-radius: 12px;
  padding: 5px;
  margin-bottom: 15px;
}

.strip-title {
  text-align: center;
  font-size: 1.5em;
  color:#BF6A27;
}

.swiper-container {
    width: 100%;
}

.strip-wrapper {
  margin: 0 auto;
}
.strip-img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
