<ion-view view-title='{{domain}}'>
    <ion-content class="padding">

        <div class="inline-center" ng-show="loading">
            <ion-spinner class="spinner-energized"></ion-spinner>
        </div>

        <div class='wrapper-author' ng-hide="loading">

            <div class="ban-image-domain">
                <img class='banniere' src="data:image/jpeg;base64,{{info.ban_picture}}"/>
            </div>
            <p class='desc'>{{info.description}}</p>
            <p>par <strong> {{info.author}}</strong></p>

        </div>

        <div class='grid-wrapper'>

            <div class='strip-zone' ng-repeat="strip in strips | orderBy: ['date', 'id']">
                <strip-thumbnail strip="strip" ui-sref="strip({domain: domain, id: strip.id})"></strip-thumbnail>
            </div>

        </div>

        <ion-infinite-scroll
                ng-hide="loading"
                ng-if="canLoadMore"
                on-infinite="loadMore()"
                distance="1%">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>
