<ion-view view-title='Bienvenue sur Lapin.org'>
  <ion-content class="padding">
    <div class='banner'>
      <div class='logo'></div>
    </div>
    <hr class='deco-hr'>
    <div ng-show="loading">
      <div class="loading-indicator center"></div>
    </div>
    <div ng-hide="loading" class='grid-wrapper'>
      <div ng-repeat="domain in domains" class="favicon">
        <img ui-sref="strips({domain: domain.short_name})" src='data:image/jpeg;base64,{{domain.favicon}}'>
        <div class="center">{{domain.short_name}}</div>
      </div>
    </div>
  </ion-content>
</ion-view>
