ion-content{
  background-color: #F6F6E6;
}
.font{
  font-family: 'pacifico';
}
.lapinColor{
  color:#BE6414;
}
.title{
  font-size: 1.5em;
}
@font-face {
    font-family: pacifico;
    src: url(font/Pacifico.ttf);
}
.padding{
  background-color: #F6F6E6;
}
.center{
  text-align: center;
}
.wrapperStripDomain{
  width: 100%;
  height: 100px;
}
.bgColor_1{
  background-color: blue;
}
.bgColor_2{
  background-color: green;
}
.bgColor_3{
  background-color: yellow;
}
.bgColor_4{
  background-color: blue;
}
.bgColor_5{
  background-color: red;
}
